@media screen and (max-width: 375px) {
  html,
  body {
    padding: 0;
    margin: 0;
    /* background-color: red; */
  }

  :root {
    /* Primary colors */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);

    /* Neutral colors */
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
  }

  #main {
    width: 100%;
    min-height: 100vh;
  }

  #nav {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    background-color: aqua;
    padding: 0vw 1vw;
    z-index: 999;
    overflow: hidden;
  }

  .left-nav {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 7vw;
    margin-left: 2vw;
    padding: 0.5px 5px;
    gap: 2px;

    overflow: hidden;
    cursor: pointer;
  }

  .left-nav img {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  }

  .left-nav:hover #logo {
    margin-top: -4.5vh;
  }

  .right-nav {
    display: flex;
    flex-direction: column;
  }

  .right-nav {
    display: none;
    flex-direction: column;
  }

  .mobile-navbar-btn {
    display: block;
    z-index: 999;
  }

  .mobile-nav-icon {
    width: 2rem;
    height: 2rem;
    color: white;
  }

  .mobile-nav-icon[name="menu-outline"] {
    display: block;
  }
  .mobile-nav-icon[name="menu-close"] {
    display: none;
  }

  .right-nav {
    /* display: none; */
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 15vh;
    left: 10%;
    width: 50vh;
    height: 60vh;
    border-radius: 2vw;
    transform: translateX(10%);
    transition: all 0.5s linear;
  }

  .right-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right-nav ul li {
    margin: 0 0;
    margin-top: 5.5vw;
    padding: 4vw 0;
  }

  .right-nav ul li a {
    margin-top: 6vw;
    color: var(--dark-grayish-blue);
    text-decoration: none;
    font-size: 5vw;
    font-weight: 600;
  }

  .right-nav ul li #last {
    background-color: var(--yellow);
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 700;
    color: black;
    font-family: "Fraunces", serif;
  }

  .right-nav ul li #last:hover {
    background-color: rgb(255, 191, 0);
    color: white;
  }

  .part-1 {
    width: 100%;
    min-height: 100vh;
    background-image: url("/images/mobile/image-header.jpg");
    background-position: center center;
    background-size: cover;
  }

  .part-1 .text {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .text h1 {
    margin-top: 170px;
    font-size: 10vw;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    font-family: "Fraunces", sans-serif;
  }

  .text img {
    margin-top: 75px;
  }

  /* part 2 start here */
  .part-2 {
    width: 100%;
    height: 100vh;
  }

  .container-1 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .container-1 .left-side {
    width: 100%;
    height: 50vh;
    order: 2; /* Move this div below the right-side div */
  }

  .container-1 .right-side {
    width: 100%;
    height: 50vh;
    background-image: url("/images/mobile/image-transform.jpg");
    background-position: center center;
    background-size: cover;
    order: 1; /* Move this div above the left-side div */
  }

  .text-part-1 {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .text-part-1 h1 {
    font-size: 8vw;
    padding: 0 10vw;
    padding-bottom: 30px;
    font-weight: 900;
    margin-top: 10%;
    color: var(--very-dark-desaturated-blue);
    font-family: "Fraunces", sans-serif;
  }

  .text-part-1 p {
    margin: 0;
    font-size: 4vw;
    padding: 0 8.6vw;
    font-weight: 500;
    padding-bottom: 30px;
    font-family: "Barlow", sans-serif;
  }

  .text-part-1 h5 {
    margin-top: 0;
    font-size: 4vw;
    color: var(--very-dark-desaturated-blue);
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    padding-left: 5px;
    position: relative;
    z-index: 1;
  }

  .text-part-1 h5::after {
    content: "";
    position: absolute;
    left: 35vw;
    bottom: 1.5px;
    z-index: -1;
    width: 32%;
    height: 5px;
    opacity: 0.5;
    border-radius: 20px;
    background-color: var(--yellow);
  }

  .text-part-1 h5:hover::after {
    opacity: 1;
    background-color: var(--yellow);
    cursor: pointer;
    height: 8px;
  }

  /* part 3 start here */
  .part-3 {
    width: 100%;
    height: 100vh;
  }

  .container-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .container-2 .left-side-2 {
    background-image: url("/images/desktop/image-stand-out.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    order: 1;
    width: 100%;
    height: 50vh;
  }

  .container-2 .right-side-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2;
    width: 100%;
    height: 50vh;
  }

  .text-part-2 {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .text-part-2 h1 {
    font-size: 8vw;
    padding: 0 10vw;
    padding-bottom: 30px;
    font-weight: 900;
    margin-top: 10%;
    color: var(--very-dark-desaturated-blue);
    font-family: "Fraunces", sans-serif;
  }

  .text-part-2 p {
    margin: 0;
    font-size: 4vw;
    padding: 0 8.6vw;
    font-weight: 500;
    padding-bottom: 30px;
    font-family: "Barlow", sans-serif;
  }

  .text-part-2 h5 {
    margin-top: 0;
    font-size: 4vw;
    color: var(--very-dark-desaturated-blue);
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    padding-left: 5px;
    position: relative;
    z-index: 1;
    margin-bottom: 5vw;
  }

  .text-part-2 h5::after {
    content: "";
    position: absolute;
    left: 35vw;
    bottom: 1.5px;
    z-index: -1;
    width: 32%;
    height: 5px;
    opacity: 0.5;
    border-radius: 20px;
    background-color: var(--soft-red);
  }

  .text-part-2 h5:hover::after {
    opacity: 1;
    background-color: var(--soft-red);
    cursor: pointer;
    height: 8px;
  }

  /* part 4 start here */

  .part-4 {
    width: 100%;

    min-height: 200vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-3 {
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-3 .left-img,
  .container-3 .right-img {
    width: 100%;
    height: 95vh;
  }
  .left-img {
    background-image: url("/images//mobile/image-graphic-design.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .right-img {
    background-image: url("/images/mobile/image-photography.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
  }

  .left-img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 98vw;
  }

  .left-img-text h1 {
    font-family: "Fraunces", sans-serif;
    font-size: 8vw;
    font-weight: 900;
    color: var(--dark-desaturated-cyan);
  }

  .left-img-text p {
    width: 100%;
    letter-spacing: 0.4px;
    color: var(--dark-desaturated-cyan);
    text-align: center;
    padding: 0 10vw;
    font-size: 3.5vw;
    line-height: 20px;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
  }

  .right-img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 98vw;
  }

  .right-img-text h1 {
    font-family: "Fraunces", sans-serif;
    font-size: 8vw;
    font-weight: 900;
    color: var(--dark-desaturated-cyan);
  }

  .right-img-text p {
    width: 100%;
    letter-spacing: 0.4px;
    color: var(--dark-desaturated-cyan);
    text-align: center;
    padding: 0 10vw;
    font-size: 3.5vw;
    line-height: 20px;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
  }

  .part-5 {
    width: 100%;
    height: 100vh;
    background-color: white;
  }

  .container-4 {
    width: 100%;
    display: flex;
    /* height: 100vh; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .head {
    margin-top: 2vw;
    text-align: center;
  }
  .head h2 {
    color: var(--grayish-blue);
    font-family: "Fraunces", sans-serif;
    letter-spacing: 5px;
    font-size: 3vw;
  }

  .cards-sec {
    width: calc(100 / 3);
    background-color: white;
    display: flex;

    flex-direction: column;
    margin-top: 2%;
    padding: 0 14%;
    margin-bottom: 20vw;
  }

  #card1,
  #card2,
  #card3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #card1 img {
    border-radius: 50%;
    width: 60px;
    margin-top: 6vw;
  }
  #card2 img {
    border-radius: 50%;
    width: 60px;
    margin-top: 6vw;
  }
  #card3 img {
    border-radius: 50%;
    width: 60px;
    margin-top: 6vw;
  }

  #card1 .text-part p {
    padding-top: 5vw;
    margin: 0 1vw;
    line-height: 20px;
    font-size: 4vw;
    font-weight: 500;
    color: var(--very-dark-grayish-blue);
    font-family: "Barlow", sans-serif;
  }

  #card1 .text-part h5 {
    margin-top: 6vw;
    font-size: 3.5vw;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
  }
  #card1 .text-part h6 {
    margin-top: 2vw;
    font-size: 0.6rem;
    font-family: "Barlow", sans-serif;
    color: var(--grayish-blue);
    font-weight: 600;
  }

  #card2 .text-part p {
    padding-top: 5vw;
    margin: 0 1vw;
    line-height: 20px;
    font-size: 4vw;
    font-weight: 500;
    color: var(--very-dark-grayish-blue);
    font-family: "Barlow", sans-serif;
  }

  #card2 .text-part h5 {
    margin-top: 6vw;
    font-size: 3.5vw;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
  }
  #card2 .text-part h6 {
    margin-top: 2vw;
    font-size: 0.6rem;
    font-family: "Barlow", sans-serif;
    color: var(--grayish-blue);
    font-weight: 600;
  }

  #card3 .text-part p {
    padding-top: 5vw;
    margin: 0 1vw;
    line-height: 20px;
    font-size: 4vw;
    font-weight: 500;
    color: var(--very-dark-grayish-blue);
    font-family: "Barlow", sans-serif;
  }

  #card3 .text-part h5 {
    margin-top: 6vw;
    font-size: 3.5vw;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
  }
  #card3 .text-part h6 {
    margin-top: 2vw;
    font-size: 0.6rem;
    font-family: "Barlow", sans-serif;
    color: var(--grayish-blue);
    font-weight: 600;
  }

  .part-6 {
    width: 100%;
    height: 75vh;
    margin-top: 35vw;
    margin-bottom: 0;
    padding: 0; /* Adjust padding as needed */
    box-sizing: border-box; /* Ensures padding is included in the width */
  }

  .container-6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(2, 1fr); /* Two rows */
    /* Adjust gap between images as needed */
    justify-items: center;
    align-items: center;
    height: 10%;
  }

  .container-6 > div {
    width: 100%;
  }

  .container-6 img {
    display: block;
    width: 100%;
    height: auto;
  }

  footer {
    width: 100%;
    min-height: 55vh;
    background-color: #90d4c5;
  }

  .part-7 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .part-7 img {
    margin-top: 16vw;
    margin-bottom: 2vw;
    color: var(--dark-desaturated-cyan);
    filter: var(--dark-desaturated-cyan);
  }

  .part-7 .links ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 18vw;

    margin-top: 10vw;
    text-decoration: none;
    list-style: none;
  }

  .links ul li a {
    font-size: 3.8vw;
    font-weight: 600;

    color: var(--dark-moderate-cyan);
    font-family: "Barlow", sans-serif;
    text-decoration: none;
    list-style: none;
  }

  .links ul li a:hover {
    color: white;
  }

  .social-icons {
    margin: 0 15px;
    margin-top: 20vw;
  }

  .social-icons #icon {
    margin: 0 15px;
    /* fill: hsl(168, 34%, 41%); */
    transition: fill 0.3s ease;
  }

  .social-icons #icon:hover {
    fill: white;
    cursor: pointer;
  }
}
